<%= pluralize(Snippet.count, "snippet") %> in the database

<%= link_to "Add Snippet", new_snippet_path %>

<table>
  <% @snippets.each do |snippet| %>
    <tr>
      <td><%= link_to snippet.excerpt, snippet_path(snippet) %></td>
    </tr>
  <% end %>
</table>

